body{
    background-color: gainsboro;
    
}
  .dash{
      font-size: 18px;
      font-weight: bold;
      margin: 10px;
      color: white;
  }
.container {
    background-color: rgba(13, 106, 168, 0.76);
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 700px;
}
.menu {
    color:white;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    margin: 15px;
    align-items: left;
    margin-left: -3px;
}
.menu >span{
    margin:10px;
}
.menu li{
    list-style-type: none;
}
.menu a{
    color: white;
    text-decoration: none;
}
.menu1{
    color:white;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    margin: 15px;
    align-items: left;
    margin-left:6px; 
}
.menu1 >span{
    margin:10px;
}
.menu1 li{
    list-style-type: none;
}
.menu1 a{
    color: white;
    text-decoration: none;
}