body{
   background-color: rgb(202, 202, 202);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 20px;
}

.titleBox{
   display: grid;
   grid-template-columns: 75% 1fr;
   grid-template-rows: 10%;
   grid-gap: 20px;
}

.mainGrid{
   display: grid;
   grid-template-columns: 75% 25%;
   grid-template-rows: 1fr;
   grid-column-gap: 20px;
}

.firstGrid{
   display: grid;
   grid-template-columns:  1fr 1fr;
   grid-gap: 20px;
}

.mainTitle1{
   
}

.grid1{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 20px 1fr 20px;
   background-color: white;
   border-left: 0.5em solid;
   border-radius: 10px;
   border-color: rgb(255, 221, 28);
   box-shadow: 5px 10px 8px rgb(173, 173, 173);
   grid-gap: 10px;
   padding: 30px;
}

.myImages{
   display: flex;
   justify-content: flex-end;
}

.myImages img {
   width: 20px;
   padding: 0px 20px 0px 20px;
}

.grid2{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   background-color: white;
   border-radius: 10px;
   box-shadow: 5px 10px 8px rgb(173, 173, 173);
   grid-row-gap: 0px;
   padding: 30px;
   margin-right: 20px;
}

.textResize{
   font-size: 15px;
}

.maintenance{
   display: grid;
   grid-template: 5px 1fr / 1fr;
   margin-bottom: 20px;
   border-bottom: 5px rgb(77, 77, 77);
}

.update{
   display: grid;
   grid-template: 5px 1fr / 1fr;
   border-bottom: 5px rgb(77, 77, 77);
}
.community{
   display: grid;
   grid-template: 5px 1fr / 1fr;
   margin-bottom: 20px;
   border-bottom: 5px rgb(77, 77, 77);
}

