body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17pt;
}

.entete {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: white;
}

span {
    font-size: 20px;
}

.sb>input {
    width: 550px;
    height: 30px;
    border: 0px solid transparent;
    border-radius: 20px;
    background-color: rgb(228, 234, 240);
}

.recherche1 {
    margin-top: 20px;
    text-align: left;
}

.recherche1>span {
    margin: 10px;
}

.recherche>span {
    margin: 20 px;
    padding: 10px;
}

.recherche2 {
    margin: 20px;
    text-align: center;
}

.recherche2>span {
    margin: 10px;
}

.buttom {
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 25px;
    background-color: blue;
    padding: 10px;
}

.recherche4 {
    display: flex;
    text-align: left;
    align-items: center;
}

.recherche4>input {
    margin: 10px;
}

.hithere {
    display: flex;
    align-items: center;
}

.hithere>div {
    margin: 20 px;
    padding: 10px;
}

.hsp1 {
    padding-left: 20px;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
}

main {
    background-color: blue;
    min-height: 100vh;
}

header {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 4fr;
    background-color: rgb(228, 234, 240);
}

.user:nth-child(2) {
    font-size: 30px;
}

.user:nth-child(1) {
    font-size: 50px;
}

.corps {
    display: grid;
    height: 100%;
    grid-template-columns: 3.5fr 1.5fr;
}

.partie1 {
    background-color: rgb(228, 234, 240);
}

.SP1 {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
}

.article {
    border-radius: 10px;
    border-left: 10px solid rgb(255, 187, 0);
    padding-left: 10px;
    text-align: justify;
    padding-right: 10px;
    background-color: white;
}

.partie2 {
    background-color: rgb(228, 234, 240);
}

.icon>span {
    float: right;
    margin: 20 px;
    padding: 10px;
}

.menu {
    color: white;
}

.smenu {
    padding-top: 20PX;
}

.Announcements {
    font-size: 12px;
    padding: 15px;
    margin-left: 10px;
    color: black;
    display: colom;
    background: white;
    margin-right: 20px;
    border-radius: 10px;
}

.Announcements h1 {
    font-size: 15px;
}

.menu li {
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.Dashboard {
    color: white;
    font-size: 15px;
    text-align: center;
}

.Trd {
    margin: 40px 30px 10px 8px;
}

.trending {
    font-size: 12px;
    padding: 15px;
    color: black;
    display: colom;
    background: white;
    margin: 10px;
    margin-right: 20px;
    display: grid;
    border-radius: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 2 / 3 / 3 / 4;
}

.div2 {
    grid-area: 1 / 1 / 2 / 2;
}

.div3 {
    grid-area: 3 / 5 / 4 / 6;
}

.div4 {
    grid-area: 4 / 2 / 5 / 3;
}

.trending p {
    margin-left: 20px;
}

.trending img {
    width: 80px;
}

.sitemaintenance p {
    border-bottom-style: ridge;
}

.community p {
    border-bottom-style: ridge;
}

.img1 p {
    margin-left: 50px;
}

.trending1 {
    display: flex;
}

.trending2 {
    display: flex;
}

.trending3 {
    display: flex;
}

.trending4 {
    display: flex;
}